/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    /*header navbar*/
    .nav-menu {
        margin-left: 10px;
    }

    .nav-menu > li {
        padding: 15px 12px;
        font-size: 14px;
    }

    .navbar-right li {
        margin: 0px 5px;
    }

    .list_shop_by form {
        padding: 0px;
    }
    /*filters*/
    .slider-horizontal {
        width: 140px !important;
    }
    .filters > li {
        padding: 0 8px;
    }
    .shop-quantity{
        padding: 0px;
    }
    h2.product_title{
        max-height: 20px;
        overflow: hidden;
    }
    .shop-quantity .input-quantity{
        width: 35px;
    }
    .product-hover{
        padding: 10px 0px;
    }
    .product-hover ul{
        margin-top: 8px;
    }
    #owl-kits .owl-controls{
        top: 160px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .nav-menu {
        margin-left: -20px;
    }

    .navbar-right {
        position: absolute;
        right: 0px;
    }

    .nav-menu {
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        margin-left: 15px;
        margin-top: 12px;
    }

    .nav-menu li {
        padding: 0px 7px;
        font-size: 12px;
        line-height: 2;
    }
    /*filter*/
    #dropmatch {
        font-size: 14px;
    }
    #keyword {
        width: 130px;
    }
    .slider.slider-horizontal {
        width: 130px;
    }
    .filters > li {
        padding: 0px 5px;
        border-right: 1px inset #e7e7e7;
    }
    .filters > li:last-child {
        border-right: 0px;
    }
    .filter-inner b {
        font-size: 14px;
    }
    .single-box > div.row{
        width: 100%;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    /*Header Navbar Responsive Style*/
    .navbar-right li {
        margin: 0px 5px;
        display: inline-block;
        top: -16px;
        right: 45px;
    }

    .nav_panel >div > ul > li {
        padding: 15px;
    }

    .nav_panel >div > ul {
        text-align: center;
    }

    .nav-menu {
        margin-left: 0px;
        text-align: center;
    }

    .nav_panel {
        border-top: 1px solid #D2D2D2;
        display: inline-block;
        margin-bottom: 25px;
    }

    #card_pods_cnt {
        position: absolute;
        top: -12px;
        right: -12px;
    }

    .shopping-cart {
        width: 200px;
    }

    .shopping-cart:after,
    .shopping-cart:before {
        left: 60%;
    }

    /*Cart Page Table*/
    .table-responsive table {
        min-width: 850px;
    }

    .shop-cart table .product img {
        width: 100px;
    }
    /*home page header slider*/
    .bs-example {
        margin: 20px 0px;
    }

    .caption_text h1 {
        font-size: 16px;
    }

    #slider >div>div {
        padding: 0px;
    }

    .owl-theme .owl-controls .owl-buttons div {
        width: 30px;
        height: 30px;
        padding: 0px;
    }

    .item {
        height: 300px;
        line-height: 180px;
    }

    /*!*product item*!*/
    /*.mob-prod {*/
        /*margin-bottom: 150px;*/
    /*}*/

    /*.product-hover {*/
        /*display: block;*/
        /*bottom: -116px;*/
        /*opacity: 1;*/
        /*z-index: 4;*/
    /*}*/

    /*daily item*/
    .commercial_item {
        display: table;
    }

    .sts_com,
    .commercial_item img {
        margin: 0 auto;
    }

    .commercial_item img {
        margin-bottom: 20px;
    }

    /*list view style*/
    .product_list_item {
        height: initial;
    }

    .product_list_thumb img {
        right: 0;
    }

    .list_shop_by > div,
    .title_list_box h2 {
        text-align: center;
    }
    .list_shop_by{
        margin-left: -15px;
    }
    .col-flex {
        float: initial;
        display: initial;
        vertical-align: initial;
    }

    .single-left-panel {
        position: relative;
        width: 100%;
    }

    .single-left-panel > ul >li {
        display: inline-block;
        border: none;
        padding: 20px 10px;
    }

    .single-left-panel > ul >li>h2,
    .single-left-panel > ul >li>span {
    }

    li.share {
        width: auto;
        top: 5px;
    }

    .social {
        right: 0px;
    }

    .checkbox:checked ~ .social {
        -webkit-transform: scale(1) translateY(-75px);
        -moz-transform: scale(1) translateY(-75px);
        -o-transform: scale(1) translateY(-75px);
        transform: scale(1) translateY(-75px);
    }
}
/*@media (min-width: 481px) and (max-width: 768px){*/
    /*.grid-box{*/
        /*width: 49%;*/
        /*white-space: normal;*/
        /*display: inline-block;*/
    /*}*/
/*}*/
/* Portrait phones and smaller */
@media (max-width: 480px) {
    .nav-logo img {
        width: 150px;
    }

    .nav-menu > li {
        padding: 10px 10px;
    }

    /*list view style*/
    .list_shop_by form {
        padding: 0px;
    }

    .list_shop_by form input {
        width: 25px !important;
    }

    .product-quant button {
        width: 20px !important;
    }

    .list_info {
        padding-top: 10px;
        float: left !important;
    }

    .list_info .col-xs-12 {
        padding: 0px;
        text-align: left;
    }

    .list_info .col-xs-12 span {
        font-size: 20px;
    }

    .list_info .col-xs-6 {
        padding: 0px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e1e1e1;
        text-align: left;
        font-size: 14px;
    }
    .list_shop_by{
        margin-left: -15px;
    }
    .product_list_thumb {
        height: 120px;
    }
    /*filters*/
    ul.filters{
        position: relative;
    }
    .filters> li:last-child {
        position: absolute;
        top: -60px;
        right: 0px;
    }
    #keyword {
        width: 105px;
        margin-top: 13px;
    }
    label[for=keyword] {
        display: none;
    }
    .filter-inner b{
        font-size: 14px;
    }
    .slider.slider-horizontal{
        width: 150px;
    }
    /*Best Sellers*/
    .item_best{
        padding: 20px 0;
    }
}
